################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VIsx.MyProjectTemplateAndCustomWizard.Demo/v15/Server/sqlite3
/MyProjectWizard/bin/Debug
/MyProjectWizard/obj/Debug
